table.op-irregular-closings {
  width:    100%;

  .op-irregular-closing {

    .col-name {
      width:    40%;
    }

    .col-date {
      width:   20% 
    }

    .col-time-start, .col-time-end {
      width:   15% 
    }

    .col-time {
      width:   15% 
    }

    .col-remove {
      width:    10%;

      .button-remove {
        @include button-remove();
      }
    }
  }
}

.button.add-ic {
  margin:   5px 3px;
}